<template lang="html">
  <div id="viewMatrix">
    <svg :width="width" :height="height"></svg>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Watch } from 'vue-property-decorator'
import * as d3 from "d3"
import { Instance } from '../Structures'

interface Tile {
  x: number,
  y: number,
  color: string,
  text?: string
}

enum DragState {
  Idle,
  Moving
}

interface Coord {
  x: number,
  y: number
}

enum MoveType {
  Line,
  Column
}

interface DragAutomata {
  state: DragState,
  pos: Coord,
  elts: Selection,
  move: MoveType,
  index: number
}

@Component({
  props: {
    instanceText: String,
    tilesizew: Number,
    tilesizeh: Number,
    blueTriangle: Boolean
  }
})
export default class ViewHypergraphMatrix extends Vue {

  instanceText: string
  tilesizew: number
  tilesizeh: number
  blueTriangle: boolean

  get tileW(): number {
    return Math.floor(this.tilesizew)
  }

  get tileH(): number {
    return Math.floor(this.tilesizeh)
  }

  findIndex(ev:{offsetX:number,offsetY:number}, m:MoveType): number {
    if ( m === MoveType.Line ) {
      let y = ev.offsetY
      let res = Math.floor((y-this.tileH)/this.tileH)
      return res<0 ? 0 : (res>=this.instance.y.length ? this.instance.y.length-1 : res)
    } else {
      let x = ev.offsetX
      let res = Math.floor((x-this.tileW)/this.tileW)
      return res<0 ? 0 : (res>=this.instance.x.length ? this.instance.x.length-1 : res)
    }
  }

  moveElts(ev:{offsetX:number,offsetY:number}, automata:DragAutomata): void {
    let d = this.instance
    if ( automata.move === MoveType.Line ) {
      let i = this.findIndex(ev, MoveType.Line)
      // modify position of each node after index
      for ( let j = 0 ; j < d.y.length ; j++ ) {
        let elts = Array.prototype.slice.call(document.querySelectorAll('.line-'+(j+1)))
        elts.forEach( (elt) => {
          if ( j > automata.index ) {
            if ( j > i ) {
              elt.setAttribute('transform', `translate(0,0)`)
            } else {
              elt.setAttribute('transform', `translate(0,${-(this.tileH+1)})`)
            }
          }
          else if ( j < automata.index ) {
            if ( j >= i ) {
              elt.setAttribute('transform', `translate(0,${(this.tileH+1)})`)
            } else {
              elt.setAttribute('transform', `translate(0,0)`)
            }
          }
        })
      }
    } else { // move column
      let i = this.findIndex(ev, MoveType.Column)
      // modify position of each node after index
      for ( let j = 0 ; j < d.x.length ; j++ ) {
        let elts = Array.prototype.slice.call(document.querySelectorAll('.colm-'+(j+1)))
        elts.forEach( (elt) => {
          if ( j > automata.index ) {
            if ( j > i ) {
              elt.setAttribute('transform', `translate(0,0)`)
            } else {
              elt.setAttribute('transform', `translate(${-(this.tileW+1)},0)`)
            }
          }
          else if ( j < automata.index ) {
            if ( j >= i ) {
              elt.setAttribute('transform', `translate(${(this.tileW+1)},0)`)
            } else {
              elt.setAttribute('transform', `translate(0,0)`)
            }
          }
        })
      }
    }
  }

  modifyInstance(tab, from, to) {
    let res = []
    let b = 0
    for ( let a = 0 ; a < tab.length ; a++ ) {
      if ( b == from ) {
        b++
      }
      if ( a !== to ) {
        res.push(tab[b])
        b++
      } else {
        res.push(tab[from])
      }
    }
    return res
  }

  changePos(from:number, to:number, move:MoveType) {
    let obj
    if ( move === MoveType.Line ) {
      obj = {
        y: this.modifyInstance(this.instance.y, from, to),
        x: this.instance.x,
        r: this.instance.r
      }
    } else {
      obj = {
        x: this.modifyInstance(this.instance.x, from, to),
        y: this.instance.y,
        r: this.instance.r
      }
    }
    this.instance = obj
  }

  fixPositions(automata: DragAutomata, ev:{offsetX:number,offsetY:number}): void {
    if ( automata.move === MoveType.Line ) {
      let i = this.findIndex(ev, MoveType.Line)
      this.changePos(automata.index, i, MoveType.Line)
    } else {
      let i = this.findIndex(ev, MoveType.Column)
      this.changePos(automata.index, i, MoveType.Column)
    }
    // replace all elements
    let elts = Array.prototype.slice.call(document.querySelectorAll('.elt'))
    elts.forEach( (elt) => {
      elt.setAttribute('transform', `translate(0,0)`)
    })
  }

  initInterface(): void {
    this.initSvg()
    this.initDrag()
  }

  initSvg(): void {
    let svg = document.querySelector('svg')
    // remove all elts from svg
    while (svg.firstChild) {
      svg.removeChild(svg.firstChild);
    }

    // add lines and columns identifiers
    let svgd3 = d3.select('svg')

    let xlabels = svgd3.selectAll(".colm")
      .data(this.xLabels)
      .enter()
      .append("rect")
        .attr('x', (t) => { return t.x*(this.tileW+1) })
        .attr('y', (t) => { return t.y*(this.tileH+1) })
        .attr('width', this.tileW)
        .attr('height', this.tileH)
        .attr('fill', (t) => { return t.color })
        .attr('class', (t) => { return "elt colm colm-"+t.x} )

    let ylabels = svgd3.selectAll(".line")
      .data(this.yLabels)
      .enter()
      .append("rect")
        .attr('x', (t) => { return t.x*(this.tileW+1) })
        .attr('y', (t) => { return t.y*(this.tileH+1) })
        .attr('width', this.tileW)
        .attr('height', this.tileH)
        .attr('fill', (t) => { return t.color })
        .attr('class', (t) => { return "elt line line-"+t.y} )

    // add tiles
    let tiles = svgd3.selectAll(".tile")
      .data(this.tiles)
      .enter()
      .append("rect")
        .attr('x', (t) => { return t.x*(this.tileW+1) })
        .attr('y', (t) => { return t.y*(this.tileH+1) })
        .attr('width', this.tileW)
        .attr('height', this.tileH)
        .attr('fill', (t) => { return t.color })
        .attr('class', (t) => { return `elt tile colm-${t.x} line-${t.y}` } )

    // add text
    let xtext = svgd3.selectAll('.xtext')
      .data(this.xLabels)
      .enter()
      .append("text")
        .attr('x', (t) => { return Math.floor(t.x*(this.tileW+1)+this.tileW/2) })
        .attr('y', (t) => { return Math.floor(this.tileH/2) })
        .text( (t) => { return t.text} )
        .attr('font-family', 'sans-serif')
        .attr('font-size', (t) => { return `${Math.floor(this.tileH/2)}px` } )
        .attr('fill', '#555')
        .attr('alignment-baseline', 'middle')
        .attr('text-anchor', 'middle')
        .attr('class', (t) => { return `xtext elt colm-${t.x}` })

    // add text
    let ytext = svgd3.selectAll('.ytext')
      .data(this.yLabels)
      .enter()
      .append("text")
        .attr('x', (t) => { return Math.floor(this.tileW/2) })
        .attr('y', (t) => { return Math.floor(t.y*(this.tileH+1)+this.tileH/2) })
        .text( (t) => { return t.text} )
        .attr('font-family', 'sans-serif')
        .attr('font-size', (t) => { return `${Math.floor(this.tileH/2)}px` } )
        .attr('fill', '#555')
        .attr('alignment-baseline', 'middle')
        .attr('text-anchor', 'middle')
        .attr('class', (t) => { return `ytext elt line-${t.y}` })
  }

  initDrag(): void {
    let xlabels = d3.selectAll('.colm')
    let ylabels = d3.selectAll('.line')
    let svg = document.querySelector('svg')
    let svgd3 = d3.select('svg')

    let automata = {
      state: DragState.Idle,
      pos: {x: 0, y: 0},
      elts: null,
      move: MoveType.Line,
      index: 0
    }

    let _mouseEnter = (d,i) => {
      document.body.style.cursor = 'move'
    }

    let _mouseOut = (d,i) => {
      document.body.style.cursor = 'auto'
    }

    // add mousedown and mousehover handler for lines
    xlabels.each( (e,i) => {
      let elt = d3.select('.colm.colm-'+(i+1))
      let _mouseDown = (d,i2) => {
        let pos = d3.mouse(svg) // returns [x,y]
        automata = {
          state: DragState.Moving,
          pos: { x: pos[0], y: pos[1]},
          elts: d3.selectAll('.colm-'+(i+1)),
          move: MoveType.Column,
          index: i
        }
      }
      elt.on('mousedown', _mouseDown)
      elt.on('mouseenter', _mouseEnter)
      elt.on('mouseout', _mouseOut)

      // mobile event listeners
      elt.on('touchstart', _mouseDown, false)
    })

    // add mousedown and mousehover handler for columns
    ylabels.each( (e,i) => {
      let elt = d3.select('.line.line-'+(i+1))
      let _mouseDown = (d,i2) => {
        let pos = d3.mouse(svg) // returns [x,y]
        automata = {
          state: DragState.Moving,
          pos:{y:pos[1],x:pos[0]},
          elts: d3.selectAll('.line-'+(i+1)),
          move: MoveType.Line,
          index: i
        }
      }
      elt.on('mousedown', _mouseDown)
      elt.on('mouseenter', _mouseEnter)
      elt.on('mouseout', _mouseOut)

      // mobile event listeners
      elt.on('touchstart', _mouseDown, false)
    })

    // add mousemove handler for automata
    let _mouseMove = (d,i) => {
      if ( automata.state === DragState.Moving ) {
        // compute new position according to mouse
        let pos = d3.mouse(svg) // returns [x,y]
        if ( automata.move == MoveType.Line ) {
          automata.elts.attr('transform', `translate(${0},${-automata.pos.y+pos[1]})`)
        } else {
          automata.elts.attr('transform', `translate(${-automata.pos.x+pos[0]},${0})`)
        }
        this.moveElts({offsetX: pos[0], offsetY: pos[1]}, automata)
      }
    }
    svgd3.on('mousemove', _mouseMove)

    // add mouseup handler for automata
    let _mouseUp = (d,i) => {
      if ( automata.state === DragState.Moving ) {
        let pos = d3.mouse(svg) // returns [x,y]
        automata.state = DragState.Idle
        automata.elts = null
        this.fixPositions(automata, {offsetX: pos[0], offsetY: pos[1]})
      }
    }
    svgd3.on('mouseup', _mouseUp)

    svgd3.on('touchend', _mouseUp, false)
    svgd3.on('touchmove', _mouseMove, false)

  }

  mounted(): void {
    this.initInterface()
  }

  @Watch("instanceText")
  instanceChanged(): void {
    Vue.nextTick (() => {
      this.initInterface()
    })
  }

  @Watch("width")
  widthChanged(): void {
    Vue.nextTick (() => {
      this.initInterface()
    })
  }

  @Watch("height")
  heightChanged(): void {
    Vue.nextTick (() => {
      this.initInterface()
    })
  }

  @Watch("blueTriangle")
  blueTriangleChanged(): void {
    Vue.nextTick (() => {
      this.initInterface()
    })
  }

  isEdge(y:number,x:number):boolean {
    let Y = this.instance.y
    let X = this.instance.x
    let r = this.instance.r
    let e = Y[y]
    let v = X[x]
    if ( !r[e] ) return true
    return r[e].findIndex((a) => {return a === v}) > -1
  }

  get instance(): Instance {
    return JSON.parse(this.instanceText)
  }

  get tw(): number {
    for ( let i = 0 ; i <= this.instance.x.length ; i++ ) {
      for ( let j = 0 ; j <= i ; j++ ) {
        // if M[j][|E|-i+j] = 1 stop
        if ( this.isEdge(j,this.instance.x.length-i+j)) {
          return i-1
        }
      }
    }
    return this.instance.x.length
  }

  set instance(newVal) {
    this.$emit('update', JSON.stringify(newVal))
  }

  get width(): number {
    let d = this.instance
    return (this.tileW+1)*(d.x.length+1)-1
  }

  get height(): number {
    let d = this.instance
    return (this.tileH+1)*(d.y.length+1)-1
  }

  get tiles(): Tile[] {
    let d = this.instance
    let res = []
    for ( let i = 0 ; i < d.y.length ; i++ ) {
      for ( let j = 0 ; j < d.x.length ; j++ ) {
        let y = i+1
        let x = j+1
        res.push({
          x: x,
          y: y,
          color: this.getTileColor(i,j)
        })
      }
    }
    return res
  }

  get xLabels(): Tile[] {
    let d = this.instance
    let res = []
    for ( let i = 0 ; i < d.x.length ; i++ ) {
      res.push({
        x: i+1,
        y: 0,
        color: '#aea',
        text: d.x[i]
      })
    }
    return res
  }

  get yLabels(): Tile[] {
    let d = this.instance
    let res = []
    for ( let i = 0 ; i < d.y.length ; i++ ) {
      res.push({
        x: 0,
        y: i+1,
        color: '#eaa',
        text: d.y[i]
      })
    }
    return res
  }


  getTileColor(y: number, x: number): string {
    let colorEdge = '#333'
    let colorNoEdge = '#ccc'
    let colorTw = this.blueTriangle?'#aaf':'#ccc'
    let colorConflict = '#333'
    if ( this.instance.x.length - x + y <= this.tw )
      return colorTw
    if ( this.instance.x.length - x + y === this.tw+1 && this.isEdge(y,x) )
      return colorConflict
    let d = this.instance
    if ( !(d.r[d.y[y]]) ) return colorNoEdge
    if ( (d.r[d.y[y]]).findIndex((e) => {return e === d.x[x]}) > -1 ) {
      return colorEdge
    } else {
      return colorNoEdge
    }
  }

}
</script>

<style lang="scss">
  #viewMatrix {
    svg {
      border: 1px solid #666;
      touch-action: none;

      text {
        -moz-user-select: -moz-none;
        user-select: none;
        pointer-events: none;
      }
    }
  }
</style>
