<template lang="html">
  <div id="viewHypergraphForceLayout">
    <svg id="svgForceLayout" :width="width" :height="height"></svg>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import * as d3 from "d3"
import { Component, Watch } from 'vue-property-decorator'

import { Instance } from '../Structures'

@Component({
  props: {
    instanceText: String,
    width: Number,
    height: Number
  }
})
export default class viewHypergraphForceLayout extends Vue {

  instanceText: string
  width: number
  height: number

  get instance(): Instance {
    return JSON.parse(this.instanceText)
  }

  mounted(): void {
    this.initInterface()
  }


  @Watch("instanceText")
  instanceChanged(): void {
    Vue.nextTick (() => {
      this.initInterface()
    })
  }

  initInterface(): void {
    let svg = d3.select('#svgForceLayout')
    svg.selectAll('*').remove()

    let simulation = d3.forceSimulation()
      .force('link', d3.forceLink().id(function(d:any) { return d.id }))
      .force('charge', d3.forceManyBody())
      .force('center', d3.forceCenter(this.width/2, this.height/2))
      // .force('radial', d3.forceRadial(200, this.width/2, this.height/2).strength(1))

    // create data
    let ynodes = this.instance.y.map( (e):any => {
      return { id: 'y_'+e, type: 'y', name:e }
    })
    let xnodes = this.instance.x.map( (e):any => {
      return { id: 'x_'+e, type: 'x', name:e }
    })
    let allnodes = []
    ynodes.forEach( (e) => { allnodes.push(e) } )
    xnodes.forEach( (e) => { allnodes.push(e) } )
    let links = []
    this.instance.y.forEach( (i) => {
      this.instance.r[i].forEach( (j) => {
        links.push({
          source: 'y_'+i,
          target: 'x_'+j
        })
      })
    })

    // create edges
    let link = svg.append("g")
      .attr("class", "links")
      .selectAll("line")
      .data(links)
      .enter().append("line")
      .attr('stroke', '#666')
      .attr("stroke-width", 5)

    // create nodes
    let node = svg.append('g').selectAll('.node')
      .data(allnodes)
      .enter().append('g')
        .attr('class', 'node')
        .call(d3.drag()
          .on('start', dragstarted)
          .on('drag', dragged)
          .on('end', dragended)
        )

    let circles = node.append('circle')
      .attr('cx', 0)
      .attr('cy', 0)
      .attr('r', (d) => { return d.type==='x'?10:20 })
      .attr('fill', (d) => { return d.type==='x'?'#aea':'#eaa' })
      .attr('stroke', '#fafafa')

    // text
    let text = node.append('text')
      .attr("x", 0)
      .attr('y', 0)
      .attr('class', 'nodeText')
      .text( (d) => { return d.name })

    simulation
      .nodes(allnodes)
      .on('tick', ticked)

    let simu_link:any = simulation.force('link')
    simu_link.links(links).distance(50)

    function ticked() {
      link
        .attr('x1', (d) => { return d.source.x })
        .attr('x2', (d) => { return d.target.x })
        .attr('y1', (d) => { return d.source.y })
        .attr('y2', (d) => { return d.target.y })
      node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
      // node
      //   .attr('x', (d) => { return d.x })
      //   .attr('y', (d) => { return d.y })
    }

    function dragstarted(d) {
      if (!d3.event.active) simulation.alphaTarget(0.3).restart()
      d.fx = d.x
      d.fy = d.y
    }

    function dragged(d) {
      d.fx = d3.event.x
      d.fy = d3.event.y
    }

    function dragended(d) {
      if (!d3.event.active) simulation.alphaTarget(0)
      d.fx = null
      d.fy = null
    }
  }


}
</script>

<style lang="scss">
  #viewHypergraphForceLayout {

    svg {
      border: 1px solid black;
    }

    .nodeText {
      font-family: sans-serif;
      font-size: 20px;
      fill: "#fafafa";
      stroke-width: 0.5;
      stroke: "#fafafa";
      pointer-events: none;
      text-anchor: middle;
      alignment-baseline: central;
    }

  }
</style>
