<template lang="html">
  <div id="viewMctp">
    <svg id="svgViewMctp" :width="width" :height="height"></svg>
    <p>Cmax: <b>{{ cmax }}</b></p>
    <p>triangle width: <b>{{ tw }}</b></p>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import * as d3 from "d3"
import { Component, Watch } from 'vue-property-decorator'

import { Instance } from '../Structures'

interface Pre {
  x: number,
  w: number,
  text: string
}

interface Task {
  x: number,
  w: number,
  text: number
}

@Component({
  props: {
    instanceText: String,
    alpha: Number,
    beta: Number,
    tilesize: Number
  }
})
export default class ViewMctpSolution extends Vue {

  instanceText: string
  alpha: number
  beta: number
  tilesize: number

  get instance(): Instance {
    return JSON.parse(this.instanceText)
  }

  get width(): number {
    return (this.tilesize+1)*(this.tasks.reduce((a,v) => {
      return a.x > v.x ? a : v
    }, {x:-this.beta, w:0, text:'void'}).x+this.beta)
  }

  get height(): number {
    return 100
  }

  get prerequisites(): Pre[] {
    return this.instance.x.map( (e, i, t) => {
      return {
        x: i*this.alpha,
        w: this.alpha,
        text: e
      }
    })
  }

  get tasks(): Task[] {
    let res = []
    this.instance.y.forEach( (t, i, tab) => {
      // extract max prerequisite
      let max_pre = this.prerequisites.filter( p => { // find prerequisites of t
        return this.instance.r[t].findIndex( p2 => { return p2 === p.text } ) >= 0
      }).reduce( (acc, val) => { // find max prerequisite
        return acc.x > val.x ? acc : val
      }, {x:-1, w:0, text:'error'})

      // extract max task already loaded
      let max_task = res.reduce( (acc, val) => {
        return acc.x > val.x ? acc : val
      }, {x:-this.beta, w:0, text:'void'})

      // next task position equals to a max between its prerequisite and last task
      res.push({
        x: Math.max(max_pre.x+this.alpha, max_task.x+this.beta),
        w: this.beta,
        text: t
      })
    })
    return res
  }

  get cmax(): number {
    let res = this.tasks.reduce( (a,v) => {
      return a.x > v.x ? a : v
    }).x+this.beta
    this.$emit('update', res)
    return res
  }

  get tw(): number {
    return this.instance.x.length + this.instance.y.length - this.cmax
  }

  mounted(): void {
    this.initInterface()
  }


  @Watch('tilesize')
  @Watch('alpha')
  @Watch('beta')
  @Watch("instanceText")
  instanceChanged(): void {
    Vue.nextTick (() => {
      this.initInterface()
    })
  }

  initInterface(): void {
    let svg = document.querySelector('#svgViewMctp')
    // remove all elts from svg
    while (svg.firstChild) {
      svg.removeChild(svg.firstChild);
    }
    let tile1Color = "#bbb"
    let tile2Color = "#bbb"
    let tile2Overlap = "#abd"

    let svgd3 = d3.select('#svgViewMctp')
    let pre = svgd3.selectAll('.prerequisite')
      .data(this.prerequisites)
      .enter()
      .append("rect")
        .attr('x', (t) => { return t.x*(this.tilesize+1) })
        .attr('y', '0')
        .attr('width', this.tilesize*this.alpha)
        .attr('height', '50')
        .attr('fill', tile1Color)
        .attr('class', 'prerequisite' )

    let tasksObj = svgd3.selectAll('.task')
      .data(this.tasks)
      .enter()
      .append("rect")
        .attr('x', (t) => { return t.x*(this.tilesize+1) })
        .attr('y', '50')
        .attr('width', this.tilesize*this.beta)
        .attr('height', '50')
        .attr('fill', (t) => { if (t.x < this.prerequisites.length) return tile2Overlap; else return tile2Color})
        .attr('class', 'task' )

    // add text
    let xtext = svgd3.selectAll('.preText')
      .data(this.prerequisites)
      .enter()
      .append("text")
        .attr('x', (t) => { return Math.floor(t.x*(this.tilesize+1)+(this.tilesize*this.alpha)/2) })
        .attr('y', '25px')
        .text( (t) => { return t.text} )
        .attr('font-family', 'sans-serif')
        .attr('font-size', (t) => { return `${Math.floor(this.tilesize/2)}px` } )
        .attr('fill', '#555')
        .attr('alignment-baseline', 'middle')
        .attr('text-anchor', 'middle')
        .attr('class', 'preText')

    let ytext = svgd3.selectAll('.taskText')
      .data(this.tasks)
      .enter()
      .append("text")
        .attr('x', (t) => { return Math.floor(t.x*(this.tilesize+1)+(this.tilesize*this.beta)/2) })
        .attr('y', '75px')
        .text( (t) => { return t.text} )
        .attr('font-family', 'sans-serif')
        .attr('font-size', (t) => { return `${Math.floor(this.tilesize/2)}px` } )
        .attr('fill', '#555')
        .attr('alignment-baseline', 'middle')
        .attr('text-anchor', 'middle')
        .attr('class', 'taskText')
  }

}
</script>

<style lang="scss">
  #viewMctp {

    p {
      margin: 0;
      padding: 0;
    }

    #svgViewMctp {
      border: 1px solid black;

      text {
        user-select: none;
        pointer-events: none;
      }

    }

  }
</style>
