<template>
  <div id="app">
    <span class="empty"></span>
    <v-app id="inspire">
      <v-navigation-drawer fixed v-model="drawer" app id="menu">
        <h3>Instances</h3>
        <v-list dense>

          <!-- test instance -->
          <v-list-tile v-for="i in instRange" :key="i" :class="{active: current===i}" @click="setInst(i)">
            <v-list-tile-action>
              <v-icon v-if="getInstEdit(i)">edit</v-icon>
              <v-icon v-if="done[i]&&!getInstEdit(i)">check</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ getInstName(i) }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

        </v-list>
        <h3>Change parameters</h3>
        <v-text-field name="tilesize" label="Tile Size" v-model="tilesizeText" class="tilesize-field"></v-text-field>

      </v-navigation-drawer>
      <v-toolbar color="teal" dark fixed app>
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title class="mainTitle">Hypergraph Visualization</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn right icon @click="startTour()"><v-icon>help</v-icon></v-btn>
      </v-toolbar>
      <v-content>
        <v-container fluid fill-height>

          <v-layout justify-center align-center class="columnDisplay">
              <ViewMatrix class="matrixviz" :tilesizew="tilesize*alpha" :tilesizeh="tilesize*beta" :instanceText="instanceText" :blueTriangle="blueTriangle" @update="onChildUpdate" />
              <ViewSol class="mctpviz" :instanceText="instanceText" :alpha="alpha" :beta="beta" :tilesize="tilesize" @update="onNewValue" />
              <div class="center">
                <v-switch
                  :label="`Blue triangle: ${blueTriangle?'enabled':'disabled'}`"
                  v-model="blueTriangle"
                ></v-switch>
              </div>

            <v-btn color="blue" dark v-if="!instance.editable" @click="clickCheckOpt">AM I OPTIMAL ?</v-btn>

            <div v-if="instance.editable" id="inst">
              <div class="instContainer">
                <v-text-field multi-line name="instanceText" label="Instance" v-model="instanceText"></v-text-field>
                <v-btn right icon @click="startJsonHelp"><v-icon>help</v-icon></v-btn>
              </div>
            </div>

          </v-layout>
        </v-container>
      </v-content>
    </v-app>
  </div>
</template>

<script>
  // load js libs
  import Shepherd from 'tether-shepherd'
  import swal from 'sweetalert2'
  import Vue from 'vue'
  import Cookies from 'js-cookie'
  import Vuetify from 'vuetify'
  Vue.use(Vuetify)

  // load styles
  import '../node_modules/material-design-icons-iconfont/dist/material-design-icons.scss'
  import '../node_modules/vuetify/dist/vuetify.min.css'
  import '../node_modules/tether-shepherd/dist/css/shepherd-theme-arrows.css'

  // load components of the project
  import ViewMatrix from './components/ViewHypergraphMatrix.vue'
  import ViewSol from './components/ViewMctpSolution.vue'

  // load images
  import exmatrixOld from "./img/ex.gif"
  import exmatrix from "./img/ex2.gif"

  import * as instances_tmp from "./instances.json"
  const instances = instances_tmp.instances

  // App component
  export default {
    components: { ViewMatrix, ViewSol },
    data() {
      return {
        instance: {
          name: "empty",
          props: {
            y: ["a"],
            x: ["1"],
            r: {"a":["1"]}
          },
          opt: 2,
          editable: false,
          randomize: false
        },
        tilesize: 50,
        alpha: 1,
        beta: 1,
        current: 0,
        currentsol: -1,
        done: [], // indicates for each instance if solved or not
        drawer: null,
        blueTriangle: true
      }
    },
    computed: {
      instRange: function() {
        let res = []
        for ( let i = 0 ; i < instances.length ; i++ ) {
          res.push(i)
        }
        return res
      },
      instanceText: {
        get: function() {
          return JSON.stringify(this.instance.props)
        },
        set: function(newValue) {
          try {
            this.instance.props = JSON.parse(newValue)
          } catch ( e ) {

          }
        }
      },
      tilesizeText: {
        get: function() {
          return this.tilesize.toString()
        },
        set: function(newValue) {
          try {
            this.tilesize = Number(newValue)
          } catch (e) {

          }
        }
      },
    },
    mounted() {
      this.setInst(0)
      let c = Cookies.get('done')
      if ( c ) {
        for ( let i = 0 ; i < instances.length ; i++ ) {
          if ( c.length > i ) {
            this.done.push(false)
          } else {
            this.done.push(c[i]==="1")
          }
        }
      }
      // load gif
      let tour = new Shepherd.Tour({
        defaults: {
          classes: 'shepherd-theme-arrows',
          scrollTo: true
        }
      })
      tour.addStep('matrix', {
        text: 'Click on "?" button for more information. \
          <br/><img class="tour-img" width="300px" src="'+exmatrix+'" />',
        attachTo: {element:'.mainTitle', on:'bottom'},
        classes: 'shepherd-theme-arrows tour-tooltip',
        buttons: [
          {
            text: 'play',
            action: tour.cancel
          }
        ],
        showCancelLink: true
      })
      tour.start()

    },
    methods: {
      getInstName: function(i) {
        return instances[i].name
      },
      getInstEdit: function(i) {
        return instances[i].editable
      },
      clickCheckOpt() {
        if ( this.currentsol === this.instance.opt ) {
            Vue.set(this.done, this.current, true)
            let tmp = "" // write in cookies information
            for ( let i = 0 ; i < this.done.length ; i++ ) {
              if ( this.done[i] ) tmp = tmp + "1"
              else tmp = tmp + "0"
            }
            Cookies.set('done', tmp)
            let nbopt = 0
            this.done.forEach( (e) => { if (e) nbopt += 1})
            swal({
              title: 'Optimal reached !',
              text: "Congratulations, you solved "+nbopt+" instances optimally !",
              type: "success"
            })
        } else {
          swal({
            title: 'There exist a better solution',
            text: "Don't give up! Click on the help button if you need help.",
            type: "error"
          })
        }
      },
      onNewValue(v) {
        this.currentsol = v
      },
      startJsonHelp() {
        let tour = new Shepherd.Tour({
          defaults: {
            classes: 'shepherd-theme-arrows',
            scrollTo: true
          }
        })
        tour.addStep('matrix', {
          text: `You can create (or change) instances with this field. It represents a JSON file in which:
            <ul>
              <li>x: is the green tiles (same order as the matrix)</li>
              <li>y: is the red tiles (same order as the matrix)</li>
              <li>r: the relationship between green and red tiles. Example: <code>"1":["4","5","6"]</code> means tiles (1,4), (1,5) and (1,6) are linked.</li>
            </ul>
          `,
          attachTo: {element:'#inst', on:'top'},
          buttons: [
            {
              text: 'play',
              action: tour.cancel
            }
          ],
          showCancelLink: true
        })
        tour.start()
      },
      startTour() {
        let self = this
        let tour = new Shepherd.Tour({
          defaults: {
            classes: 'shepherd-theme-arrows',
            scrollTo: true
          }
        })
        tour.addStep('matrix', {
          text: '<b>goal:</b> find the biggest blue area (Click on "Am I optimal ?" after optimizing).<br/>\
            To do so, you can drag and drop green and pink tiles to exchange lines and columns. \
            <br/><img class="tour-img" width="300px" src="'+exmatrix+'" />',
          attachTo: {element:'.mainTitle', on:'bottom'},
          classes: 'shepherd-theme-arrows tour-tooltip',
          buttons: [
            {
              text: 'more information',
              action: tour.next
            },
            {
              text: 'play',
              action: tour.cancel
            }
          ],
          showCancelLink: true
        })
        tour.addStep('menu', {
          text: 'Here, you can see the application menu. You can choose which instance of \
            <a href="http://www.unet.edu.ve/~jedgar/ToSP/ToSP.htm">this benchmark</a> you want to discover.\
            When you click on an instance, rows (and columns) are ordered randomly.',
          attachTo: {element:'#menu', on:'right'},
          classes: 'shepherd-theme-arrows tour-tooltip',
          buttons: [
            {
              text: 'Next',
              action: tour.next
            }
          ],
          showCancelLink: true,
          when: {
            show: function() {
              self.drawer = true
            }
          }
        })
        tour.addStep('tilesize', {
          text: 'If the instance is too big, you can ajust this parameter to decrease the size of drawings',
          attachTo: {element:'.tilesize-field', on:'right'},
          classes: 'shepherd-theme-arrows tour-tooltip',
          buttons: [
            {
              text: 'Previous',
              action: tour.back
            },
            {
              text: 'Next',
              action: tour.next
            }
          ],
          showCancelLink: true
        })
        tour.addStep('mctp', {
          text: 'Here is the equivalent representation as a scheduling problem (MCTP). Maximizing the upper-right triangle \
            in the matrix is equivalent to minimizing the makespan of this scheduling problem.',
          attachTo: {element:'.mctpviz', on:'bottom'},
          classes: 'shepherd-theme-arrows tour-tooltip',
          buttons: [
            {
              text: 'Previous',
              action: tour.back
            },
            {
              text: 'Start playing',
              action: tour.next
            }
          ],
          showCancelLink: true,
          when: {
            show: function() {
              self.drawer = false
            }
          }
        })
        tour.start()
      },
      onChildUpdate(newValue) { // updates instance
        this.instance.props = JSON.parse(newValue)
      },
      shuffle(t) {
        if ( t.length > 1 ) {
          for ( let i = 0 ; i < t.length ; i++ ) {
            let c = Math.floor(Math.random()*t.length)
            let tmp = t[i]
            t[i] = t[c]
            t[c] = tmp
          }
        }
      },
      randomize() {
        this.shuffle(this.instance.props.x)
        this.shuffle(this.instance.props.y)
      },
      setInst(i) {
        this.current = i
        this.instance = instances[i]
        this.instanceText = JSON.stringify(this.instance.props)
        if ( this.instance.randomize && !this.done[i] ) {
          this.randomize()
        }
        this.drawer = false
      }
    }
  }
</script>

<style lang="scss">

  body.shepherd-active .shepherd-target.shepherd-enabled {
      position: relative;
      box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.4);
      z-index: 9999;
      pointer-events:  auto;
      transition: all 0.3s ease;
  }

  body.shepherd-active .shepherd-step {
      z-index: 9999;
  }

  .shepherd-content {
    max-width: 500px;
    justify-content: center;
  }

  .tour-img {
    display: block;
    margin: auto;
  }

  .instContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .active {
    background-color: #ddd;
  }

  .columnDisplay {
    display: flex;
    flex-direction: column;
  }

  #inst {
    width: 90%;
  }

  .center {
    display: block;
    justify-content: center;
    width: 300px;
  }

</style>
