<template>
  <div id="app">
    <h1>Hypergraph Visualization for MCTP</h1>
    <div id="viz">
      <ViewMatrix :tilesizew="tilesize*alpha" :tilesizeh="tilesize*beta" :instanceText="instanceText" @update="onChildUpdate" />
      <ViewSol :instanceText="instanceText" :alpha="alpha" :beta="beta" :tilesize="tilesize" />
      <ViewForce :instanceText="instanceText" :width="800" :height="400" />
    </div>
    <div id="inst">
      <h2>Instance</h2>
      Tilesize: <input type="number" v-model="tilesizeText" /><br/>
      alpha: <input type="number" v-model="alphaText" /><br/>
      beta: <input type="number" v-model="betaText" /><br/>
      <br/>lower bound (min subset of length 1) : <b>{{lb1}}</b><br/>
      <br/>lower bound (min subset of length 2) : <b>{{lb2}}</b><br/>
      <!-- <br/>lower bound (min subset of length 3) : <b>{{lb5}}</b><br/> -->
      <br/>lower bound (all prerequisites + min required tasks for a prerequisites) : <b>{{lb3}}</b><br/>
      <br/>lower bound (all prerequisites + min required tasks for a prerequisites with simplified instance) : <b>{{lb4}}</b><br/>
      <br/><textarea v-model="instanceText"></textarea>
    </div>
  </div>
</template>

<script>
  import ViewMatrix from './components/ViewHypergraphMatrix.vue'
  import ViewSol from './components/ViewMctpSolution.vue'
  import ViewForce from './components/ViewHypergraphForceLayout.vue'
  export default {
    components: { ViewMatrix, ViewSol, ViewForce },
    data() {
      return {
        // instance: {
        //   y: ['a','b','c'],
        //   x: ['1','2'],
        //   r: {
        //     'a': ['1','2'],
        //     'b': ['2'],
        //     'c': ['1']
        //   }
        // },
        instance: {
          y: ['12','34','45','123'],
          x: ['1','2','3','4','5'],
          r: {
            '12': ['1','2'],
            '34': ['3','4'],
            '45': ['4','5'],
            '123': ['1','2','3']
          }
        },
        tilesize: 50,
        alpha: 1,
        beta: 1
      }
    },
    computed: {
      lb1: {
        get: function() {
          return Math.min(...this.instance.y.map( (e) => {
            return this.instance.r[e].length
          }))+this.instance.y.length
        }
      },
      lb2: {
        get: function() {
          let tuples = []
          for ( let i = 0 ; i < this.instance.y.length ; i++ ) {
            for ( let j = i+1 ; j < this.instance.y.length ; j++) {
              let a = this.instance.y[i]
              let b = this.instance.y[j]
              let sa = new Set(this.instance.r[a])
              let sb = new Set(this.instance.r[b])
              let s = new Set([...sa, ...sb]);
              tuples.push(s.size)
            }
          }
          return Math.min(...tuples)+this.instance.y.length-1
        }
      },
      lb5: {
        get: function() {
          let tuples = []
          for ( let i = 0 ; i < this.instance.y.length ; i++ ) {
            for ( let j = i+1 ; j < this.instance.y.length ; j++) {
              for ( let k = j+1 ; k < this.instance.y.length ; k++) {
                let a = this.instance.y[i]
                let b = this.instance.y[j]
                let c = this.instance.y[k]
                let sa = new Set(this.instance.r[a])
                let sb = new Set(this.instance.r[b])
                let sc = new Set(this.instance.r[c])
                let s = new Set([...sa, ...sb]);
                tuples.push(s.size)
              }
            }
          }
          return Math.min(...tuples)+this.instance.y.length-2
        }
      },
      inverseR: {
        get: function() {
          return this.instance.x.map( (p) => {
            let res = []
            this.instance.y.forEach( (t) => {
              this.instance.r[t].forEach( (p2) => {
                if ( p === p2)
                  res.push(t)
              })
            })
            return res
          })
        }
      },
      lb3: {
        get: function() {
          let sizes = []
          for ( let i = 0 ; i < this.inverseR.length ; i++ ) { sizes.push(this.inverseR[i].length)}
          let res = Math.min(...sizes)
          return this.instance.x.length+res
        }
      },
      instanceSimplified: {
        get: function() {
          // list all removed prerequisites
          let x = this.instance.x.filter((e,i,t) => {
            return this.inverseR[i].length > 1
          })
          let x_removed = this.instance.x.filter((e,i,t) => {
            return this.inverseR[i].length <= 1
          })
          let y = this.instance.y.filter((e,i,t) => {
            // return false if e has a prerequisite in x_removed
            let res = true
            x_removed.forEach((p) => {
              if ( this.instance.r[e].includes(p) ) {
                res = false
              }
            })
            return res
          })
          let y_removed = this.instance.y.filter((e) => {
            return ! y.includes(e)
          })
          return {
            x: x,
            y: y,
            r: this.instance.r,
            x_removed: x_removed,
            y_removed: y_removed
          }
        }
      },
      lb4: {
        get: function() {
          let sizes = []
          for ( let i = 0 ; i < this.inverseR.length ; i++ ) {
            if ( this.inverseR[i].length > 1 ) {
              sizes.push(this.inverseR[i].filter( (e) => {
                return ! this.instanceSimplified.y_removed.includes(e)
              }).length)
            }
          }
          let res = Math.min(...sizes)
          // return this.instanceSimplified.x.length+this.instanceSimplified.y_removed.length+res
          // return this.instance.y.length + res // lb1 better
          return this.instanceSimplified.x.length + res + this.instanceSimplified.y_removed.length
        }
      },
      instanceText: {
        get: function() {
          return JSON.stringify(this.instance)
        },
        set: function(newValue) {
          try {
            this.instance = JSON.parse(newValue)
          } catch ( e ) {

          }
        }
      },
      tilesizeText: {
        get: function() {
          return this.tilesize.toString()
        },
        set: function(newValue) {
          try {
            this.tilesize = Number(newValue)
          } catch (e) {

          }
        }
      },
      alphaText: {
        get: function() {
          return this.alpha.toString()
        },
        set: function(newValue) {
          try {
            this.alpha = Number(newValue)
          } catch (e) {

          }
        }
      },
      betaText: {
        get: function() {
          return this.beta.toString()
        },
        set: function(newValue) {
          try {
            this.beta = Number(newValue)
          } catch (e) {

          }
        }
      }
    },
    methods: {
      onChildUpdate(newValue) { // updates instance
        this.instance = JSON.parse(newValue)
      }
    }
  }
</script>

<style lang="scss">
  #app {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: #333;
    font-family: sans-serif;
    text-align: center;
  }

  textarea {
    margin: 10px;
    width: 90%;
    height: 50px;
  }
</style>
